<h1>Pair Your Remarkable Tablet</h1>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>get device code</ng-template>
    <p>
      go to this link to generate a code that will pair this service with your
      remarkable
    </p>
    <a (click)="goToLink('https://my.remarkable.com/device/desktop')"
      >https://my.remarkable.com/device/desktop</a
    >
    <p>once you have the code click the Next button below</p>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="otCodeFormGroup">
    <app-enter-code-step
      [otCodeFormGroup]="otCodeFormGroup"
    ></app-enter-code-step>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>


    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <!-- <button mat-button (click)="submit()">Submit</button> -->
    </div>
  </mat-step>
</mat-horizontal-stepper>
